Body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
header { 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

nav {
    position: sticky;
}