body {
    background-color: #EDE7E3;
}
header,main,footer {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* color: white; */
    max-width: 1000px;
    margin: 1rem auto;
    /* border: 1px solid #ccc; */
    padding: 1rem;
    background-color: #489FB5;
}
/* Body {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
}
header { 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #434A42;
    max-width: 1000px;
    padding: 10px 1000px 10px 1000px;
} */

.menu-btn {
    cursor: pointer;
    border: none;
    background-color: transparent;
    border-radius: 5px;
    transition: background-color 0.25s ease;
}

.menu-btn:hover {
    #bar1, #bar2, #bar3 {
        width: 30px;
        margin: 5px 0px;
        height: 4px;
    }
}

#bar1, #bar2, #bar3 {
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 3px 0px;
    transition: width 0.2s ease, height 0.2s ease, margin 0.2s ease;
}

/* nav {
    position: sticky;
    display: none;
} */

.dd {
    /* background-color: #82C0CC; */
    padding: 10px;
    list-style: none;
    margin-bottom: 10px;
    /* display: none; */
}

.dd a{
    background-color: white;
    line-height: 30px;
    padding: 5px;
    border-radius: 3px;
    margin: 10px;
    /* padding: 10px; */
    /* list-style: none !important; */
    /* display: none; */
}

#navMenu {
    max-width: 200px;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.4s ease, opacity 0.3s ease;
    display: block; /* important: display must NOT be none */
}

#navMenu.open {
    max-height: 500px; /* big enough to fit your menu */
    opacity: 1;
}
