h1 {
    font-size: 30px;
    text-align: center;
}
#navBar {
    border-style: solid none solid none;
    border-width: 2px;
    border-color: #f4dac0;
    display: flex;
    align-content: right;
    justify-content: end;
}
ul {
    list-style: none;
    padding-right: 20px;
}
li {
    display: inline-block;
    padding: 0px 10px;
}
a {
    color: #bb3f5a;
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
}
a:hover {
    color: #c9657b;

}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.article {
    max-width: 50%;
    max-height: auto;
    /* display: flex; */
    /* flex-direction: column; */
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 30px 0px
}
h2 {
    color: hsl(347, 77%, 39%);
}
.bookInfo {
    display: grid;
    justify-items: end;
    align-items: center;
    grid-template-columns: auto;
    grid-template-rows: 30px 30px 30px 30px;
    gap: 10px;
    padding: 10px 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.releaseDate {
    grid-area: 1;
}
.idkWhatTheseNumbersMean {
    grid-area: 2;
}
.bar1 {
    background-color: #f4dac0;
    width: 100%;
    height: 2px;
    margin-top: 70px;
}
.bar2 {
    display: none;
    background-color: #f4dac0;
    width: 3px;
    margin: 10px 30px;
}
.bookMain {
    display: grid;
    grid-template-columns: 590px;
    grid-template-rows: auto auto auto;
}
.title {
    grid-area: 1/1;
    font-size: 44px;
}
.cover {
    grid-area: 2/1;
    justify-self: center;
}
.desc {
    grid-area: 3/1;
    font-size: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* max-width: 100%; */
}
footer {
    border-top: 2px solid #f4dac0;
    border-bottom: 2px solid #f4dac0;
    text-align: center;
}

img {
    width: 200px;
}

@media (min-width: 900px) {
    .article {
        max-width: 100%;
        display: flex;
        flex-direction: row;
    }
    .title {
        font-size: 27px;
    }
    .bar1 {
        display: none;
    }
    .bar2 {
        display: inline-block;
    }
    .bookInfo {
        grid-template-columns: 160px;
        margin-top: 50px;
    }
    .bookMain {
        /* margin: 30px 0px 50px 0px; */
    }
}