body {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

#imgGen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 80px;
    background-color: #faf2d5;
    box-shadow: 1px 1px 6px black;
}