body {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    font-family: 'Arial Black', sans-serif;

}

#imgGen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 80px;
    background-color: #faf2d5;
    box-shadow: 1px 1px 6px black;
}

#card img {
    width: 350px;
    align-self: flex-start;
    border-radius: 20px 20px 0px 0px;
    /* border-bottom: 2px solid black; */
    margin: 0px;
}

#card {
    font-family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #313131;
    border-radius: 20px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.9);
    width: 350px; 
    margin: 100px auto;
}

#card.damaged {
    animation: shake 0.3s;
}
    
@keyframes shake {
    0% { transform: translateX(0); }
    20% { transform: rotateX(-10deg); }
    25% { transform: translateX(-20px); }
    50% { transform: translateX(20px); }
    50% { box-shadow: inset 0 0 100px rgba(255, 0, 0);}
    75% { transform: translateX(-20px); }
    80% { transform: rotateX(10deg); }
    100% { transform: translateX(0); }
}

#card.leveledUp {
    animation: reverseShake 0.25s;
}

@keyframes reverseShake {
    0% { transform: scale(1); }
    20% { box-shadow: inset 0 0 50px rgb(255, 237, 118); }
    25% { transform: scale(1.025); }
    50% { transform: scale(1.05); }
    75% { transform: scale(1.025); }
    80% { transform: scale(1.01); }
    100% { transform: scale(1); }
}

#card.defeated {
    animation: fadeOut 1s forwards;
}

@keyframes fadeOut {
    /* to { opacity: 0; } */
    /* to { rotate: 720deg; } */
    0% { transform: scale(1); }
    60% { transform: scale(0.025) translateX(200vw) rotate(720deg); }
    70% { opacity: 0; }
    100% { transform: scale(0.025) translateX(200vw) rotate(720deg); }
    100% { opacity: 0; }
}

#cardName {
    width: 100%;
    height: 6vh;
    padding-top: 1vh;
    text-align: center;
    justify-self: center;
    align-self: center;
    color: white;
    font-size: 23px;
    margin: 0px 0px 20px 0px;
    background-color: #5d747b;
}
#stats {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

#stats p {
    /* text-align: left; */
    color: #f0f4f8;
    line-height: 0px;
}

#card button {
    /* width: 100%; */
    padding: 8px 12px;
    margin: 20px;
    border: none;
    border-radius: 8px;
    background-color: #5d747b;
    color: white;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0px 0px 5px #000000;
    transition: background-color 0.2s ease, transform 0.05s ease, box-shadow 0.005s ease;
}

#card button:hover {
    background-color: #58605a;
}

#card button:active {
    background-color: #4a5049;
    transform: scale(0.95);
    box-shadow: 0 0 0 rgba(0,0,0,0);
}