header, footer {
    background-color: #317de0;
    padding: 20px;
    display: flex;
    justify-content: center;
}
main {
    display: flex;
    flex-direction: column;
    background-color: #cacaca;
    justify-content: center;
    align-items: center;
    text-align: center;
}

img {
    justify-self: center;
    box-shadow: 5px 5px 10px #565656;
    max-width: fit-content;
    margin: 10px;
    border: 10px solid white;
    transition: transform 0.05s ease, box-shadow 0.05s ease;
}

img:hover {
    transform:translateY(-5px);
    box-shadow: 5.5px 10.5px 20.5px rgb(42, 42, 42);
    cursor: pointer;
}

div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1000px;
}