
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: Roboto, sans-serif;
}
header,main,footer {
  max-width: 1000px;
  margin: 1rem auto;
  border: 1px solid #ccc;
  padding: 1rem;
  background-color: lightblue;
}
h1 {
    text-align: center;
}
section {
    max-width: 426px;
    padding: 20px;
    background-color: white;
    margin: 1em;
    border: 1px solid #ccc;
    transition: transform 0.25s ease, box-shadow 0.25s ease, background-color 0.25s ease;
}
section:hover {
    transform: translateY(-6px);
    box-shadow: 0 8px 16px rgb(77, 77, 77);
    background-color: #f0f0f0;
}
/* section:hover h2, section:hover p {
    color: white;
} */
/* nav {
  display: block;
  flex-direction: column;
} */
nav a {
    padding: 20px;
    color: black;
    display: none;
}
nav a:hover {
    text-decoration: none;
    color: #616061;
}
.menu-btn {
    cursor: pointer;
    border: none;
    background-color: transparent;
    border-radius: 5px;
    transition: background-color 0.25s ease;
}
.menu-btn.click .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
}    
.menu-btn.click .bar2 {
    opacity: 0;
}
.menu-btn.click .bar3 {
    transform: translate(0, -1px) rotate(45deg);
}
.menu-btn:hover {
    .bar1, .bar2, .bar3 {
        width: 30px;
        margin: 5px 0px;
        height: 4px;
    }
}
.menu-btn.click:hover {
    .bar1, .bar2 {
        width: 35px;
        margin: 5px 0px;
        height: 4px;
    }
    .bar3 {
        width: 35px;
        margin: 5px 0px;
        height: 4px;
        transform: translate(0, -6px) rotate(45deg);
    }
}
.bar1, .bar2, .bar3 {
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 3px 0px;
    transition: box-shadow 0.2s ease, width 0.2s ease, height 0.2s ease, margin 0.2s ease, transform 0.2s ease, opacity 0.1s ease-in-out;
}
footer {
    text-align: left;
}

@media screen and (min-width: 551px) {
    main {
        justify-content: center;
    }
    section {
        padding: 15px;
        max-width: 800px;
    }
}

@media screen and (min-width: 700px) {
    main {
        display: flex;
        /* justify-content: center; */
        flex-direction: row;
        flex-wrap: wrap;
    }
}

@media screen and (min-width: 1050px) {
    section {
        max-width: 426px;
        padding: 20px;
    }
    main {
        display: flex;
        justify-content: left;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .menu-btn {
        display: none;
    }
    nav {
        display: flex;
        flex-direction: row;
        justify-content: right;
    }
    nav a{
        display: flex !important;
    }
}

@media screen and (min-width: 1520px) {
    main {
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
    }
    header,main,footer {
        max-width: 1510px;
    }
    section {
    max-width: 426px;
    }
}