body {
    height: 100%;
    width: 100%;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(180deg, rgb(255, 239, 215) 0%, rgb(255, 210, 170) 100%);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

th, td {
    text-align: center;
    padding: 5px;
    vertical-align: middle;
    outline: 2px solid black;
}

thead {
    margin-top: 100px;
}

#actionZone {
    box-shadow: 0px 0px 10px black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    outline: 5px inset blanchedalmond;
    background-color: rgb(255, 229, 190);
    transition: all 0.3s ease;
}

#actionZone > * {
    margin: 5px;
}

#actionZone:hover {
    box-shadow: 0px 0px 7px black;
}
button {
    display: inline;
    align-self: normal;
    flex-wrap: nowrap;
    padding: 5px;
    background-image: linear-gradient(180deg, #ffeacc 0%, #a99c88 150%);
    border: none;
    border-radius: 2px;
    outline: 1px solid black;
    transition: all 0.3s ease;
}

button:hover {
    background-image: linear-gradient(180deg, #ffeacc 20%, #a99c88 170%);
    box-shadow: 0px 1px 3px black;
    transform: scale(1.01);
    cursor: alternate;
}